<!-- frontend code for image processing -->
<html>
  <title>Image Processing</title>

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  />
  <!--Link Style.css file here-->
  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />

  <body>
    <br />

    <h1>Image Processing</h1>
    <hr />

    <!--Add <form> Tag here along with two <br> tags-->
    <form method="post" action="/gray" enctype="multipart/form-data">
      <br /><br />
      <h2>Select an Image for adding a Black & White effect to it.</h2>
      <input
        type="file"
        name="file"
        class="btn btn-primary btn-lg"
        accept="image/*"
      /><br /><br />

      <button type="submit" class="btn btn-success btn-lg">Submit</button>

      <!--Write input tag to add upload button-->

      <!--Write input tag to add Submit button-->
      <h3>{{ message}}</h3>
      <!--Add h3 tag to display message defined in app.py file after images gets uploaded-->
      <img
        src="{{ url_for('display_image',filename=filename,type=type) }}"
        alt=""
        width="5"
      />
      <!--Add <img> tag to display the uploaded image-->
    </form>
    <!--End <form> tag-->
  </body>
</html>
